@use '../abstracts' as *; 

footer {
    background-color: $darkGrey;
    padding: 1rem;
    color: $white;
    

    .footer-content {
        max-width: 1300px;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }

}