@use '../abstracts' as *; 

.reward-student-container {
    min-height: 120vh;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 14%, rgba(0,0,0,0) 100%);
    overflow: hidden;

    .reward-content-wrapper {
        min-height: 120vh;
        max-width: 1024px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        padding: 0 10rem;

        .reward-content--content {
            max-width: 470px;
            h2 {
                font-size: 25px;
                font-weight: 500;
            }

            p {
                font-size: 20px;
                padding: 10px 0;
            }

            .reward-content-button {

                a {
                    background-color: $sectionBreakBlue;
                    color: $white;
                    padding: 5px 20px;
                    display: inline-block;
                    border-radius: 20px;
                    margin-top: 10px;
                }
            }
        }
       
    }

    #reward-section-image {
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        z-index: -2;
    }

   

   

}